body{
    text-align: center;
    vertical-align: middle;
    color: white;
}

.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-size-adjust: 500px;
  }

  .fa:hover {
    opacity: 0.7;
  }
  